@import "colors";

body {
  background: $ligth_blue_100;
}

.btn-game {
  background: $dark_blue_300;
  border-color: $dark_blue_300;
  color: white;
  &:hover, &:active, &:focus-visible {
    background: $dark_blue_400;
    border-color: $dark_blue_400;
    color: white;
  }
  &-outline {
    background: inherit;
    border-color: $dark_blue_300;
    color: $dark_blue_400;
    &:hover, &:active {
      background: $dark_blue_300 !important;
      color: white !important;
    }
  }
}

.panel-view {
  margin-left: 7rem;
  margin-right: 7rem;
}

.logo {
  img {
    width: 2.5rem;
  }
}

#words {
  span {
    border-bottom-color: $dark_blue_300 !important;
    color: $dark_blue_300;
    font-size: 3vw;
  }
}

#useWords {
  span {
    font-size: 2.25vw;
  }
}

main {
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    &.section-inicio {
      gap: 1.5rem;
      text-align: center;
    }
    &.section-game {
      .panel-game {
        height: 50vh;
      }
    }
    &.section-word {
      .txt-area {
        height: 60vh;
        textarea {
          font-family: Inter, sans-serif;
          width: 100%;
          height: 100%;
          background: inherit;
          border: 0;
          font-size: 2.5vw;
          resize: none;
          color: $dark_blue_300;
          &::placeholder {
            color: $dark_blue_300;
          }
          &:focus-visible {
            outline: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .panel-view {
    margin-left: 0;
    margin-right: 0;
  }
  main section.section-word .txt-area textarea {
    font-size: 4.5vw;
  }
  #words span {
    font-size: 5vw;
  }
  #useWords span {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  main section.section-word .txt-area textarea {
    font-size: 7.5vw;
  }
  #words span {
    font-size: 7.5vw;
  }
  #useWords span {
    font-size: 6vw;
  }
}